nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 0;
}
nav ul li{
  display: inline;
}

nav ul li a{
  text-decoration: none;
  color: wheat;
  font-weight: bold;
}

nav ul li a:hover{
  color: blue;
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:bisque;
}
.signin-form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.signin-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signin-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signin-form button:hover {
  background-color: #0056b3;
}
.signin-form a {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.signin-form a:hover {
  text-decoration: underline;
}